body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url(http://gihsfilm.weebly.com/uploads/3/1/4/5/31458585/walking-white-stick-figure-w-background-2_orig.gif);
    background-size: cover;
}
h1{
    background-color: red;
    padding: 10px 200px;
    margin: 10px 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px grey;
}
h2{
    text-align: center;
    background-color: violet;
    border-radius: 10px;
    margin: 20px 300px;
    padding: 10px 10px;
    box-shadow: 2px 2px 2px 2px grey;
}
#inputan, select{
    text-align: center;
    border-radius: 10px;
    padding:10px 10px;
    margin: 10px 10px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 2px 2px 2px 2px grey;
}
#btn{
    padding: 10px 10px;
    border-radius: 10px;
    margin: 20px 300px;
    box-shadow: 2px 2px 2px 2px grey;
}
#box{
    background-color: greenyellow;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 20px 300px;
    box-shadow: 2px 2px 2px 2px grey;
}
#demo{
    color: white;
    font-size: 30px;
    margin: 20px 500px;
    border-radius: 10px;
    background-color: black;
}